.header {
  width: 70vw;
  height: 10vh;
  flex-grow: 2;
  background-color: #dcdcdc;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.p-button-raised{
  margin: 0 5vw;

}
