.main {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login {
  display: flex;
  height: 50vh;
  width: 50vh;
  background: aliceblue;
}
