/* You can add global styles to this file, and also import other style files */
body {
  background: url("./images/seamless-vector-pattern-open-closed-books-notebooks-seamless-pattern-open-closed-books-vector-background-139002429.jpg");
  height: 100%;
  margin:0;
}
html{
  height: 100%;
  margin: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.content {
  width: 70vw;
  height: 80vh;
  background: blanchedalmond;
  flex-grow: 12;
}

 .p-button {
  height: 5vh;
  /*width: 10vh;*/
  background: #9e4e45 !important;
  border: 1px solid #9e4e45 !important;
  margin: 0;
}
 .p-button:hover {
  height: 5vh;
  /*width: 10vh;*/
  background: #70332c !important;
  border: 1px solid #70332c !important;

}
