.finish-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/*.answered-table{*/
/*  max-height: 40vh;*/
/*}*/
/*.not-answered-table{*/
/*  max-height: 30vh;*/
/*}*/
:host ::ng-deep .p-datatable-header{
  padding: 0 5px;
}
